@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Raleway:wght@400;700&display=swap');

:root {
  --published-color: rgb(171, 171, 171);
  --scheduled-color: rgb(57, 193, 131);
  --needapproval-color: rgb(247, 191, 56);
  --error-color: rgb(251, 100, 80);
  --notes-color: rgb(103, 177, 242);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: Barlow Semi Condensed;
  font-size: 22px;
  font-weight: 400;
  color: #959595;
}

.spacer {
  min-width: 300px;
}

.page-wrapper {
  display: flex;
  position: relative;
  height: 100vh;
}

.status-container {
  max-width: 90vw;
  margin: 10px auto;
}

main {
  max-width: 90vw;
  height: 100vh;
  margin: 10px auto;
}

.post-container {
  width: fit-content;
}

.daily-post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

@media only screen and (max-width: 1450px) {
  .daily-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    transition: all 0.3s ease;
  }
}
@media only screen and (max-width: 1030px) {
  .daily-post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    transition: all 0.3s ease;
  }
}

.post-card {
  display: flex;
  width: 369px;
  height: 426px;
  border-radius: 6px;
  border: 1px solid #e6e6ee;
  background-color: #ffffff;
}

.post {
  margin: 0px auto;
  width: 80%;
  border-radius: 0 6px 6px 0px;
  position: relative;
}

.date {
  margin-top: 22px;
  font-size: 14px;
  line-height: 17px;
  color: #acacac;
  font-family: Raleway;
}
.post-header {
  display: flex;
  justify-content: space-between;
}

.post-text {
  font-family: Raleway;
  font-weight: 700;
  color: #959595;
  margin: 15px 0px 10px 0px;
  font-size: 14px;
  line-height: 20px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.actions {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.reactions {
  display: flex;
  position: absolute;
  gap: 5px;
  bottom: 0px;
}

.reactions p {
  font-size: 12px;
  line-height: 15px;
  color: #444444;
  font-family: 'Raleway';
  font-weight: 500;
  margin-top: 5px;
  margin-right: 13px;
  margin-left: -2px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(75, 75, 75);
    background: rgb(245, 247, 248);
  }
}
