.container {
  position: fixed;
  margin-right: 44px;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}
.logo {
  display: table-cell;
  width: 274px;
  height: 51px;
  background-color: #31363b;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: 750px) {
  .container {
    display: none;
  }
}

.menucontainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.navmenu {
  width: 208px;
  background-color: #393d42;
  position: relative;
}

.navlogo {
  width: 66px;
  background-color: #2a2f33;
  display: flex;
  justify-content: center;
}

.icons {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 37px;
  height: 237px;
}
.iconcontainer {
  position: relative;
}

.greennotf {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3ac1a9;
  position: absolute;
  top: -7px;
  right: -7px;
}

.greennotf span {
  position: absolute;
  bottom: 3px;
  left: 2px;
  font-weight: bold;
  color: #ffffff;
  font-size: 9px;
}

.active {
  width: 7.5px;
  height: 37px;
  background-color: #f55661;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 0px;
  left: -17px;
}

.notificationcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.notificationcontainer p {
  font-size: 14px;
  color: #fffefe;
  margin-top: 20px;
}

.menu p {
  font-size: 14px;
  color: #fffefe;
  margin-top: 22px;
}

.notification {
  width: 28px;
  height: 17px;
  border: 1px solid #73d9c7;
  border-radius: 5px;
  margin-left: -35px;
}

.notification span {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fffefe;
  font-size: 12px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.menuchosen {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: #f55661;
  width: 100%;
}
.menuchosen p {
  font-size: 14px;
  margin-top: 22px;
  color: #fffefe;
}

.menuicons {
  margin-right: -38px;
}

.accordion {
  font-size: 14px;
  line-height: 17px;
  color: #fffefe;
}

.accordioncontainer {
  background-color: #32363a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  height: 107px;
}

.acc {
  margin: 20px 0;
}

.acc:nth-child(2) {
  color: #f55661;
}

.triangledown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 9px solid #f55661;
  position: absolute;
  margin-left: 17px;
}
