.container {
  position: fixed;
  margin-right: 44px;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}
.logo {
  display: table-cell;
  width: 274px;
  height: 51px;
  background-color: #31363b;
  text-align: center;
  vertical-align: middle;
}

.menucontainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.navmenu {
  width: 208px;

  background-color: #393d42;
}

.navlogo {
  width: 66px;
  background-color: #2a2f33;
  display: flex;
  justify-content: center;
}

.icons {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 37px;
  height: 237px;
}
.iconcontainer {
  position: relative;
}

.greennotf {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3ac1a9;
  position: absolute;
  top: -7px;
  right: -7px;
}

.greennotf span {
  position: absolute;
  bottom: 3px;
  left: 2px;
  font-weight: bold;
  color: #ffffff;
  font-size: 9px;
}
